{% extends 'base.html.twig' %}

{% block title %}Reservation index
{% endblock %}

{% block body %}
	{% include "/components/navbar.html.twig" %}

	<section class="container px-4 mx-auto mt-10">
		<h2 class="text-lg font-medium text-gray-800 ">Welcome to your dashboard
			<span class="font-bold capitalize">{{ app.user.username }}</span>
		</h2>
		<div class="flex flex-col mt-6">
			<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
					<div class="overflow-hidden border border-gray-200 md:rounded-lg">
						<table class="min-w-full divide-y divide-gray-200">
							<thead class="bg-gray-50">
								<tr>
									<th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500">
										<button class="flex items-center gap-x-3 focus:outline-none">
											<span>Id</span>
											<svg
												class="h-3" viewbox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><!-- SVG content -->
											</svg>
										</button>
									</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Name</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Date & Time</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Email Host</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Actions</th>
								</tr>
							</thead>
							<tbody class="bg-white divide-y divide-gray-200">
								{% for reservation in reservations %}
									<tr>
										<td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
											<div>
												<h2 class="font-medium text-gray-800">{{ reservation.id }}</h2>
											</div>
										</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">
											<div>
												<p class="text-gray-700">{{ reservation.rooms.name }}</p>
											</div>
										</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">
											<div>
												{% if "now"|date('d-m-Y') <= reservation.date|date('d-m-Y') %}
													<p class="text-red-500 animate-pulse">{{ reservation.date|date('d-m-Y') }}</p>
													<p class="text-gray-700">{{ reservation.time|date('H:i:s') }}</p>
												{% else %}
													<p class="text-gray-700">{{ reservation.date|date('d-m-Y') }}</p>
													<p class="text-gray-700">{{ reservation.time|date('H:i:s') }}</p>
												{% endif %}
											</div>
										</td>
										<td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
											<div>
												<h2 class="font-medium text-gray-800">{{ reservation.rooms.users.email }}</h2>
											</div>
										</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">
											<button class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg hover:bg-gray-100">
												<a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
											</button>
											<button class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg hover:bg-gray-100">
												<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
											</button>
										</td>
									</tr>
								</tbody>
							</tbody>
						</tr>
					{% else %}
						<tr>
							<td colspan="5" class="px-4 py-4 text-sm whitespace-nowrap">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="flex mt-3">
	<a href="{{ path('app_reservation_new') }}" class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100">
		Create a new Reservation
	</a>
</div>
<div class="flex items-center justify-between mt-6 overflow-x-auto">
	<div>
		{% if message %}
			<span>{{ message }}</span>
		{% endif %}
		<h3 class="text-xl font-bold py-3">
			Room Available
		</h3>
		<div class="flex overflow-x-auto justify-start gap-6">
			{% for room in rooms %}
				<div class="flex-none min-w-60 py-2">
					<a href="{{ path('app_reservation_room_show', {'id': room.id})}}">
						{% include '/components/cards.html.twig' with {
                'name': room.name,
                'image': room.imageName,
                'status': room.status,
                'capacity': room.capacity,
                'equipment': room.equipment,
                'username': room.users.username,
                'email': room.users.email
            } %}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>{% endblock %}
