{% extends 'base.html.twig' %}

{% block title %}Register Host
{% endblock %}

{% block body %}
	<div class="max-w-lg mx-auto mt-10 space-y-3">
		<h1>Register as a Host</h1>
		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn">Register as a Host</button>
        <span>OR</span>
        <a href="{{path('app_register_guest')}}" class="hover:underline">As a Guest</a>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
