{% extends 'base.html.twig' %}

{% block title %}Room index
{% endblock %}

{% block body %}
	<div class="container p-4 mx-auto">

		<h1 class="text-lg font-medium text-gray-800">Room index</h1>

		<div class="flex flex-col mt-6">
			<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
					<div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
						<table class="table-auto min-w-full divide-y divide-gray-200">
							<thead class="bg-gray-50">
								<tr>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Id</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Name</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Capacity</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Location</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Created_at</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Updated_at</th>
									<th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">actions</th>
								</tr>
							</thead>
							<tbody class="bg-white divide-y divide-gray-200">
								{% for room in rooms %}
									<tr>
										<td class="px-4 py-4 text-sm whitespace-nowrap">{{ room.id }}</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">{{ room.name }}</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">{{ room.capacity }}</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">{{ room.location }}</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">{{ room.createdAt ? room.createdAt|date('Y-m-d H:i:s') : '' }}</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">{{ room.updatedAt ? room.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
										<td class="px-4 py-4 text-sm whitespace-nowrap">
											<div class="flex items-center gap-x-6">
												<a href="{{ path('app_room_show', {'id': room.id}) }}" class="text-gray-500 transition-colors duration-200 hover:text-red-500 focus:outline-none">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewbox="0 0 16 16">
														<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
														<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
													</svg>
												</a>
												<a href="{{ path('app_room_edit', {'id': room.id}) }}" class="text-gray-500 transition-colors duration-200 hover:text-red-500 focus:outline-none">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
														<path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
													</svg>
												</a>
											</div>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="flex items-center justify-between mt-6">
			<a href="{{ path('app_room_new') }}" class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100">Create new</a>
		</div>
	</div>
{% endblock %}
